# GLOBALES
PORT=3000
NODE_ENV="DEV"

# BASE DE DATOS DOCKER
DATABASE_URL="postgresql://user:password@localhost:5432/name_db?schema=public"

# BASE DE DATOS DOCKER
DB_USER="user"
DB_PASSWORD="password"
DB_NAME="name_db"

# WOMPI VARIABLES
WOMPI_SANDBOX_API_URL="https://wompi-sandbox.com/api"
WOMPI_STAGING_PUBLIC_KEY=""
# Bearer Token httponly
WOMPI_STAGING_PRIVATE_KEY=""
WOMPI_STAGING_EVENTS_KEY=""
WOMPI_STAGING_INTEGRITY_KEY=""

