# GLOBALES
PORT=3000
NODE_ENV=DEV

FRONTEND_URL=http://localhost:5173

# BASE DE DATOS LOCAL
DATABASE_URL=postgresql://user:password@localhost:5432/name_db?schema=public

# BASE DE DATOS DOCKER
DB_USER=user
DB_PASSWORD=password
DB_NAME=name_db

# WOMPI VARIABLES
WOMPI_API_URL=https://wompi-sandbox.com/api
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_EVENTS_KEY=
WOMPI_INTEGRITY_KEY=    

# fee
BASE_FEE_CENTS=50000